<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur Tous Au Marché !</h1>
    <p>
      Vous vous êtes inscrit sur le site Tous au Marché en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à votre espace client et découvrir vos producteurs locaux, connectez vous via : <%= @url %>.
    </p>
    <p> À très vite sur Tous Au Marché !
  </body>
</html>