<section id="fh5co-connection" data-section="connection" class='pt-5'>
  <div class="col-8 offset-2 col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 to-animate fadeInUp animated text-center">

    <h1 class='display-4 mb-5'>Édition du profil</h1>

</div>
</section>