<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A bientôt sur Tous Au Marché !</h1>
    <p>
      Vous avez supprimé votre compte producteur sur le site Tous au Marché en utilisant l'e-mail suivant : <%= @producer.email %>.
      Les informations associées à ce compte ont été supprimé. 
    </p>
    <p>
      Nous espérons vous revoir bientôt parmi nous !
      La team TousAuMarché.
    </p>
  </body>
</html>