<div>
  <p>Vous etes un producteur et votre email : <%= @producer.email %></p>
  <ul class="p-info">
      <li><%= link_to "Modifier ces informations", edit_producer_registration_path, { :type => "button",  :class => 'btn-outline-secondary' } %></li>
  </ul>
</div>