<div class="gradient"></div>
<section id="fh5co-home" data-section="home" style="background-image: url(&quot; https://cdn.pixabay.com/photo/2019/06/16/19/10/wheat-4278543_1280.jpg &quot;); background-position: 0px 0px; height: 200px" data-stellar-background-ratio="0.5" class="animated">
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap" style="height: 180px">
      <div class="text-inner">
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="to-animate fadeInUp animated"><%= @producer.first_name %> <%= @producer.last_name %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-work" data-section="work" class="animated">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate fadeInUp animated">Informations</h2>
      </div>
    </div>
    <div class="row row-bottom-padded-sm">
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate fadeInUp animated">
          <img src=" https://cdn.pixabay.com/photo/2015/12/08/01/00/carrots-1082251_1280.jpg" alt="Image" class="img-responsive">
        </a>
      </div>
      <div class="row">
        <div class="col-md-12 text-center to-animate fadeInUp animated">
        <ul class="fh5co-contact-info">
        <li class="fh5co-contact-address">
        <i class="icon-home"></i> 5555 Love Paradise 56 New Clity 5655,<br>Excel Tower United Kingdom</li>
        <li><i class="icon-phone"></i> (123) 465-6789</li>
        <li><i class="icon-envelope"></i>info@freehtml5.co</li>
        <li><i class="icon-globe"></i> <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a>
        </li>
        </ul>
          <p>* Demo images from <a href="http://plmd.me/" target="_blank">plmd.me</a></p>
        </div>
      </div>
    </div>

    <i class="fas fa-id-card-alt"></i>
  </section>
