html,
body {
 height: 100%;
 position: relative;
}

.main-container {
  padding-top: 57px;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 120px; 
}

#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-bottom: 0px;
}

footer .hr {
  align-items: center;
  display: flex;
  text-align: center;
  position: relative;
  top: -10px;
}

footer .hr::before,
footer .hr::after {
  border-top: 1px #A4D792 solid;
  content: "";
  flex: 1;
  margin: 0 .5em;
}

footer a {
  max-height: 40px;
}

footer a .fa-arrow-up {
  position: relative;
  top: -10px;
}

.box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 30px;
  background: #fff;
  background: #A4D792;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

.user_picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.container_card {
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
}