/* Main tags */

html,
body {
    height: 100%;
    position: relative;
}

.main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding: 55px 0px 190px 0px;
    margin: 0 auto;
}

.banner {
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.73);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.73);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.73);
}

#navbar {
    justify-content: flex-end;
}

@media screen and (max-width: 992px) {
    #navbar {
        border-top: 1px solid #A4D792;
        justify-content: flex-start;
    }
    #navbar ul {
        margin: 8px 0 8px 8px;
    }
}

#footer {
    position: absolute;
    bottom: 0px;
    padding: 20px 20px 0 20px;
}

footer .hr {
    align-items: center;
    display: flex;
    text-align: center;
    position: relative;
    top: -10px;
}

footer .hr::before,
footer .hr::after {
    border-top: 1px #A4D792 solid;
    content: "";
    flex: 1;
    margin: 0 .5em;
}

footer a {
    max-height: 40px;
}

footer a .fa-arrow-up {
    position: relative;
    top: -10px;
}


/* Custom CSS for Show pages */

.checked {
    color: yellow;
}

.fh5co-contact-info {
    /* display: block;
    position: relative;
    width: 100%;
    top: 0; */
    background: rgba(255, 255, 255, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.13);
    overflow: hidden;
    /* z-index: 9; */
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.fh5co-contact-info:hover {
    border: 1px solid white;
}

.fh5co-contact-info ul {
    padding-top: 1%;
    list-style-type: none;
    padding-inline-start: 0px;
}

.fh5co-contact-info .icon {
    color: seagreen;
    position: absolute;
    left: 91%;
}

.fh5co-contact-info table td {
    padding: 8px;
}

#fh5co-work .col-md-6 {
    /* height: 450px; */
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#fh5co-work a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

#user-producer-information a:hover {
    color: #343a40;
}

.description-box {
    background-color: rgba(255, 255, 255, 0.13);
    color: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    padding: 5% 1% 1% 1%;
    border-left: 10px solid;
    border-left-color: #fff;
}

.box-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-edit {
    margin: 2% 4% 6% 4%;
    display: flex;
    justify-content: space-evenly;
}

#fh5co-about-bis {
    padding-top: 0%;
}

.btn-glyphicon {
    padding: 8px;
    background: #ffffff;
    margin-right: 4px;
}

.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius: 50px;
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.pictures-gallery {
    height: 180px;
    width: 250px;
    border-radius: 7px;
    margin: 1%;
}

.gallery-div {
    position: relative;
}

.pictures h1 {
    color: white;
    text-align: center;
}

.trash-red {
    position: absolute;
    bottom: -8px;
    right: -12px;
    color: white;
    background-color: yellowgreen;
    padding: 3%;
}

.trash-red:hover {
    color: rgba(204, 58, 58, 0.952);
    background-color: white;
}

.avatar {
    width: 100%;
    height: 100%;
    display: block;
}

hr.style-one {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}


/* Custom CSS for FORM */

input[class*='form-control'] {
    height: 40px;
}

.form-control,
list-group-item {
    border-radius: 7px;
    border: 1px solid #A6A6A6;
}

.form-control::-webkit-input-placeholder {
    opacity: 0.5;
    font-weight: lighter;
}

.form-control::-moz-input-placeholder {
    opacity: 0.5;
    font-weight: lighter;
}

.form-control::-ms-input-placeholder {
    opacity: 0.5;
    font-weight: lighter;
}

.form-control::-o-input-placeholder {
    opacity: 0.5;
    font-weight: lighter;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Chercher";
}


/* Custom CSS for the HOME PAGE */

.hidden {
    display: none;
}

.btn-jumbotron {
    border: 2px solid #fff !important;
    background: transparent;
}

.btn-jumbotron:hover {
    background: #A4D792 !important;
    border: 2px solid #A4D792 !important;
}

.buttons-intro-homepage {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.test-links {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#fh5co-home .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0.8;
}

.portraits {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    height: 100%;
    margin-top: 100px;
    flex-wrap: nowrap;
}

.counter-homepage {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


/* Custom CSS for indexproducers */

.box-testimony {
    padding-left: 20px;
}

.box-testimony blockquote {
    padding-left: 0;
    border-left: none;
    padding: 30px;
    background: #fff;
    background: seagreen; 
    font-size: 20px;
    font-weight: 300;
    position: relative;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}

.user_picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
    float: left;
}

.card-producer_index{
    margin-bottom: 20px;
    background: #d4facb;
    border-radius: 7px;
    border-width: 25em;
    border-color: seagreen ;
    -webkit-box-shadow: 10px 11px 13px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 11px 13px 1px rgba(0,0,0,0.3);
    box-shadow: 10px 11px 13px 1px rgba(0,0,0,0.3);
}

#map {
    height: 100vh;
    position: fixed;
}

/* Custom CSS for indexproducers no_sign_in */

.index_producers_background {
    height: 100vh;
    background-size: cover;
    display: flex;
}

.hello {
    margin: auto;
    text-align: center;
}
