html,
body {
 height: 100%;
 position: relative;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding: 75px 0px 120px 0px;
  margin: 0 auto;
}

#footer {
  position: absolute;
  bottom: 0px;
  padding: 0px 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}

footer .hr {
  align-items: center;
  display: flex;
  text-align: center;
  position: relative;
  top: -10px;
}

footer .hr::before,
footer .hr::after {
  border-top: 1px #A4D792 solid;
  content: "";
  flex: 1;
  margin: 0 .5em;
}

footer a {
  max-height: 40px;
}

footer a .fa-arrow-up {
  position: relative;
  top: -10px;
}

.fh5co-contact-info li {
  padding: 4%;
}

.description-box {
  background-color: #fff;
  color: #777777; 
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  padding: 3% 1% 1% 1%;
}

.description-box:hover {
  background-image: url(https://cdn.pixabay.com/photo/2015/12/08/01/00/carrots-1082251_1280.jpg);
  opacity: .3;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  padding: 3% 1% 1% 1%;
}

.description-box:hover blockquote {
  opacity: 100%;
  color: #fff;
}

.box-edit {
  margin-top: 4%;
  text-align: center;
}

input[class*='form-control'] {
  height: 40px;
}

.form-control {
  border-radius: 7px;
  border: 1px solid #A6A6A6;

/* Custom CSS for the HOME PAGE */
.buttons-intro-homepage {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.test-links {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#fh5co-home .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0.15;
  -webkit-backface-visibility: hidden;
  background-color:linear-gradient(315deg, transparent 0%, #f9d976 74%);
}

.portraits {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  height: 100%;
  margin-top: 100px;
  flex-wrap: nowrap;
}

.counter-homepage {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
