html,
body {
 height: 100%;
 position: relative;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding: 55px 0px 120px 0px;
  margin: 0 auto;
}

#navbar {
  justify-content: flex-end;
}

@media screen and (max-width: 992px) {
  #navbar {
    border-top: 1px solid #A4D792;
    justify-content: flex-start;
  }

  #navbar ul {
    margin: 8px 0 8px 8px;
  }
}

#footer {
  position: absolute;
  bottom: 0px;
  padding: 0px 20px;
}

footer .hr {
  align-items: center;
  display: flex;
  text-align: center;
  position: relative;
  top: -10px;
}

footer .hr::before,
footer .hr::after {
  border-top: 1px #A4D792 solid;
  content: "";
  flex: 1;
  margin: 0 .5em;
}

footer a {
  max-height: 40px;
}

footer a .fa-arrow-up {
  position: relative;
  top: -10px;
}

input[class*='form-control'] {
  height: 40px;
}

.form-control {
  border-radius: 7px;
  border: 1px solid #A6A6A6;
}

.form-control::-webkit-input-placeholder {
  opacity: 0.5;
  font-weight: lighter;
}

.form-control::-moz-input-placeholder {
  opacity: 0.5;
  font-weight: lighter;
}

.form-control::-ms-input-placeholder {
  opacity: 0.5;
  font-weight: lighter;
}

.form-control::-o-input-placeholder {
  opacity: 0.5;
  font-weight: lighter;
}

/* Custom CSS for the HOME PAGE */
.buttons-intro-homepage {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.test-links {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#fh5co-home .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0.15;
  -webkit-backface-visibility: hidden;
  background-color:linear-gradient(315deg, transparent 0%, #f9d976 74%);
}

.portraits {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  height: 100%;
  margin-top: 100px;
  flex-wrap: nowrap;
}

.counter-homepage {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
