<footer id="footer" role="contentinfo" class='col-sm-6 col-sm-offset-3'>
  <p class="hr"><a href="#" class="gotop js-gotop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></p>
  <div class="container">
    <div class="col-md-12 text-center">
      <p>&copy; Tous au marché ! Tous droits réservés. <br>Created by N.Hodee, A.Carriere, J.Tournerie, M.Pierrat & C.Facco</p>
    </div>
  </div>
</footer>
