<footer id="footer" role="contentinfo" class='col-12 col-sm-10 offset-sm-1'>
  <p class="hr">
    <a href="#" class="gotop js-gotop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
  </p>
  <div class="container">
    <div class="col-md-12 text-center">
      <p>
        &copy; Tous au Marché ! Tous droits réservés.<br>
        Créé par A.Carrière, C.Facco, N.Hodée, M.Pierrat, & J.Tournerie
      </p>
    </div>
  </div>
</footer>
